In [3]:
import numpy as np
import pandas as pd

In [6]:
fruit_prices = pd.read_csv('fruit_prices.csv')
fruit_prices

    Unnamed: 0                       Fruit  RetailPrice
0            0                      Apples       1.5193
1            1          Apples, applesauce       1.0660
2            2      Apples, ready-to-drink       0.7804
3            3  Apples, frozen concentrate       0.5853
4            4                    Apricots       2.9665
..         ...                         ...          ...
57          57                 Raspberries       6.6391
58          58                 Raspberries       4.1877
59          59                Strawberries       2.5800
60          60                Strawberries       2.8189
61          61                  Watermelon       0.3604

[62 rows x 3 columns]